p{
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    font-size: 14px;
}

.card{
    margin-top: 20px;
}

.img-banner{
    border-radius: 10px;
}