p{
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    font-size: 14px;
}

.img-banner{
    border-radius: 10px;
    margin-top: 1rem;
}

.price{
    text-align: initial;
}

.card-store{
background-color: white;
}

.card-body{
    height: 300px;
}


