.container-legal {
    padding: 1rem 2rem 1rem 2rem;
    margin: 50px 15px 50px 15px;
    box-shadow: 0 15px 25px 5px #818182;
    border-radius: 1rem;
    min-width: 285px;
    text-align: center;
}

.legal{
    color: #818182;
    -webkit-line-clamp: 50;
}

.legal-h3{
    color: #606060;
    font-weight: bold;
}

.legal-h5{
    color: #818182;
    text-align: left;
}