.navbar {
  .navbar-toggler-icon {
    color: #ffffff !important;
  }

  .nav-link {
    color: #ffffff !important;
  }
  .dropdown-menu {
    background: #343a40;
  }
  .dropdown-item {
    background: #343a40;
    color: #ffffff !important;

    &:hover {
      color: white;
    }
  }

  .nav-link button {
    background-color: gray;
    color: black;
    border-radius: 0.25rem;

    &:hover {
      background-color: darkgray;
      color: white;
      border-radius: 0.5rem;
    }
  }
}
