.navbar-light .navbar-toggler{
  border: none;
  outline: none;
}

.nav-link {
  color: #ffffff !important;
}
.dropdown-menu {
  background-color: #343a40;
}
.dropdown-item {
  background-color: #343a40;
  color: white;
}

.dropdown-item :hover {
  background-color: darkgray;
  color: white;
  border-radius: 8px;
}

.nav-link button {
  background-color: lightgray;
  color: #343a40;
  font-weight: bold;
  border-radius: 0.25rem;
  border: none;
}

.nav-link button:hover {
  background-color: darkgray;
  color: white;
  outline: none;
  border: none;
  border-style: none;
}
