.container-contact {
    padding: 1rem 2rem 1rem 2rem;
    margin: 15px;
    box-shadow: 0 15px 25px 5px #818182;
    border-radius: 1rem;
    min-width: 285px;
    text-align: center;
}

.col-contacto{
    text-align: center;
    margin: 15px 15px 15px 15px;
}

.titulo{
    color: #ffc107;
    text-align: center;
}

@media all and (max-width: 600px){
    span{
        width:100%;
        height:auto;
        margin-left:10px;
    }
}

